-f https://download.pytorch.org/whl/torch_stable.html
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
beautifulsoup4==4.10.0
Flask==2.1.1
Flask-Cors==3.0.10
Flask-Session==0.4.0
nl4dv==0.0.6
nltk==3.7
numpy==1.22.3
pandas==1.4.2
torch==1.8.0+cpu
torchtext==0.6.0
vega==3.6.0
fuzzywuzzy~=0.8.1
pytest~=3.10.1
pytest-cov~=2.6.0
python-Levenshtein~=0.12.0
si-prefix~=1.2.2
spacy~=2.2
py_stringsimjoin
gunicorn
uuid
scimage